:root {
  --main-color: #3df2af;
}

.navbar-active {
  color: var(--main-color);
  font-weight: bold;
}

.known-for-active {
  border-bottom: 2px solid var(--main-color);
}

.menu-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
}

.swiper {
  padding-bottom: 60px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
}

.swiper-slide {
  user-select: none;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.swiper-pagination-bullet {
  background-color: var(--main-color);
}

.second-swiper .swiper-button-next::after,
.second-swiper .swiper-button-prev::after {
  font-size: 30px;
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

button:disabled {
  opacity: 0.5;
}

img[src=""] {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
