:root {
  --main-color: #3df2af;
}

.navbar-active {
  color: var(--main-color);
  font-weight: bold;
}

.menu-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
}

.swiper {
  padding-bottom: 60px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--main-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.swiper-pagination-bullet {
  background-color: var(--main-color);
}
